<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            extensions="workflow"
            id="net.sf.dftools.ui.WorkflowEditor"
            name="Workflow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.dftools.ui.workflow.launch.WorkflowLaunchConfigurationDelegate"
            id="net.sf.dftools.ui.workflow.launchConfigurationType"
            modes="run"
            name="DFTools Workflow"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.dftools.ui.workflow.launch.WorkflowLaunchShortcut"
            icon="icons/workflow.png"
            id="net.sf.dftools.ui.workflow.workflowLaunchShortcut"
            label="DFTools Workflow"
            modes="run,debug">
         <description
               description="Launch a DFTools workflow"
               mode="run">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="net.sf.dftools.isWorkflow">
                        </test>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.dftools.ui.workflow.launch.WorkflowLaunchConfigurationTabGroup"
            id="net.sf.dftools.ui.workflow.launchConfigurationTabGroup"
            type="net.sf.dftools.ui.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.dftools.ui.workflow.launchConfigurationType"
            icon="icons/workflow.png"
            id="net.sf.dftools.ui.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.dftools.ui.workflow.launch.WorkflowPropertyTester"
            id="net.sf.dftools.ui.workflow.workflowTester"
            namespace="net.sf.dftools"
            properties="isWorkflow"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="net.sf.dftools.workflow.loggers">
      <logger
            id="net.sf.dftools.ui.workflow.logger"
            type="net.sf.dftools.ui.workflow.tools.WorkflowLogger">
      </logger>
   </extension>

</plugin>
