<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            extensions="workflow"
            id="net.sf.dftools.ui.WorkflowEditor"
            name="Workflow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.dftools.ui.workflow.launch.WorkflowLaunchConfigurationDelegate"
            id="net.sf.dftools.ui.workflow.launchConfigurationType"
            modes="run"
            name="DFTools Workflow"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.dftools.ui.workflow.launch.WorkflowLaunchConfigurationTabGroup"
            id="net.sf.dftools.ui.workflow.launchConfigurationTabGroup"
            type="net.sf.dftools.ui.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.dftools.ui.workflow.launchConfigurationType"
            icon="icons/workflow.png"
            id="net.sf.dftools.ui.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.dftools.ui.workflow.launch.WorkflowPropertyTester"
            id="net.sf.dftools.ui.workflow.workflowTester"
            namespace="net.sf.dftools"
            properties="isWorkflow"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="net.sf.dftools.workflow.loggers">
      <logger
            id="net.sf.dftools.ui.workflow.logger"
            type="net.sf.dftools.ui.workflow.tools.WorkflowLogger">
      </logger>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.dftools.ui.DFToolsCategory"
            name="DFTools">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.dftools.ui.DFToolsCategory"
            class="net.sf.dftools.ui.DFToolsProjectWizard"
            hasPages="true"
            icon="icons/workflow.png"
            id="net.sf.dftools.ui.newDFToolsProject"
            name="Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="DFToolsNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.dftools.ui.DFToolsProjectNature">
         </run>
      </runtime>
   </extension>
</plugin>
