<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.ietr.dftools.architecture.ui.ArchitectureCategory"
            name="Architecture">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.ietr.dftools.architecture.ui.ArchitectureCategory"
            class="org.ietr.dftools.architecture.ui.ArchitectureProjectWizard"
            hasPages="true"
            id="org.ietr.dftools.architecture.ui.ArchitectureProjectWizard"
            name="Architecture Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ietr.dftools.graphiti.ui.editors.GraphEditor"
            contributorClass="org.ietr.dftools.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            id="org.ietr.dftools.architecture.ui.editor"
            name="IP-XACT Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertyTab
               category="org.ietr.dftools.graphiti.ui.properties.category.vertex"
               id="org.ietr.dftools.architecture.ui.properties.tab.vertex.parameters"
               label="Component instance parameters">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertySection
               class="org.ietr.dftools.architecture.ui.properties.VertexParametersMapSection"
               filter="org.ietr.dftools.architecture.ui.properties.ArchitectureVertexFilter"
               id="org.ietr.dftools.architecture.ui.properties.section.vertex.parameters"
               tab="org.ietr.dftools.architecture.ui.properties.tab.vertex.parameters">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
