<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.graphiti.model.definition">
      <configuration
            extension="design"
            name="IP-XACT design"
            type="text/xml"
            validator="net.sf.dftools.architecture.ui.editor.IpXactValidator">
         <graphType
               name="IP-XACT design">
         </graphType>
         <import>
            <transformation
                  class="net.sf.dftools.architecture.ui.editor.IpXactImporter">
            </transformation></import>
         <export>
            <transformation
                  class="net.sf.dftools.architecture.ui.editor.IpXactExporter">
            </transformation>
         </export>
         <edgeType
               directed="false"
               name="Connection">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <vertexType
               name="Operator">
            <color
                  blue="237"
                  green="149"
                  red="100">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="Medium">
            <color
                  blue="0"
                  green="140"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
         </vertexType>
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.dftools.architecture.ui.ArchitectureCategory"
            name="Architecture">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.dftools.architecture.ui.ArchitectureCategory"
            class="net.sf.dftools.architecture.ui.ArchitectureProjectWizard"
            hasPages="true"
            id="net.sf.dftools.architecture.ui.ArchitectureProjectWizard"
            name="Architecture Project"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.dftools.architecture.ui.ArchitectureCategory"
            class="net.sf.dftools.architecture.ui.NewArchitectureWizard"
            hasPages="true"
            id="net.sf.dftools.architecture.ui.NewArchitectureWizard"
            name="Architecture Description (IP-XACT)"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            id="net.sf.dftools.architecture.ui.editor"
            name="IP-XACT Editor">
      </editor>
   </extension>

</plugin>
