<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scenarios" name="%scenariosName" schema="schema/scenarios.exsd"/>
   <extension-point id="tasks" name="%tasksName" schema="schema/tasks.exsd"/>
   <extension
         point="org.ietr.dftools.workflow.scenarios">
      <scenario
            id="TestScenario"
            type="org.ietr.dftools.workflow.test.TestWorkflowScenario">
         <outputs>
            <output
                  id="algo"
                  object="java.lang.Integer">
            </output>
            <output
                  id="archi"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </scenario>
   </extension>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="TestNewWorkflow1"
            type="org.ietr.dftools.workflow.test.TestWorkflowTask1">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="archture"
                  object="java.lang.Integer">
            </input>
         </inputs>
         <outputs>
            <output
                  id="superData"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </task>
      <task
            id="TestNewWorkflow2"
            type="org.ietr.dftools.workflow.test.TestWorkflowTask2">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="superData"
                  object="java.lang.Integer">
            </input>
         </inputs>
      </task>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ietr.dftools.workflow.launch.ui.WorkflowLaunchConfigurationDelegate"
            id="org.ietr.dftools.workflow.launchConfigurationType"
            modes="run"
            name="Workflow"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.ietr.dftools.workflow.launch.ui.WorkflowLaunchShortcut"
            id="org.ietr.dftools.workflow.shortcut"
            label="Workflow"
            modes="run">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.ietr.dftools.workflow.launch.WorkflowPropertyTester"
            id="org.ietr.dftools.workflow.propertyTester"
            namespace="org.ietr.dftools.workflow"
            properties="isWorkflow"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ietr.dftools.workflow.launch.ui.WorkflowLaunchConfigurationTabGroup"
            id="org.ietr.dftools.workflow.launchConfigurationTabGroup"
            type="org.ietr.dftools.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.ietr.dftools.workflow.launchConfigurationType"
            icon="icons/workflow.png"
            id="org.ietr.dftools.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
