<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://net.sf.dftools/architecture/slam"
            class="org.ietr.dftools.architecture.slam.SlamPackage"
            genModel="model/Slam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Slam -->
      <package
            uri="http://org.ietr.dftools/architecture/slam/component"
            class="org.ietr.dftools.architecture.slam.component.ComponentPackage"
            genModel="model/Slam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Slam -->
      <package
            uri="http://org.ietr.dftools/architecture/slam/link"
            class="org.ietr.dftools.architecture.slam.link.LinkPackage"
            genModel="model/Slam.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Slam -->
      <package
            uri="http://org.ietr.dftools/architecture/slam/attributes"
            class="org.ietr.dftools.architecture.slam.attributes.AttributesPackage"
            genModel="model/Slam.genmodel"/>
   </extension>

</plugin>
