<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.graphiti.model.definition">
      <configuration
            extension="dsn"
            name="IP-XACT design"
            refinement="org.ietr.dftools.architecture.ui.editor.ArchitectureRefinementPolicy"
            type="text/xml"
            validator="org.ietr.dftools.architecture.ui.editor.IpXactValidator">
         <graphType
               name="IP-XACT design">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <transformation
                  class="org.ietr.dftools.architecture.ui.editor.IpXactImporter">
            </transformation></import>
         <export>
            <transformation
                  class="org.ietr.dftools.architecture.ui.editor.IpXactExporter">
            </transformation>
         </export>
         <edgeType
               directed="false"
               name="Connection">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <vertexType
               name="Operator">
            <color
                  blue="237"
                  green="149"
                  red="100">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="component instance parameters"
                  type="java.util.Map">
            </parameter>
         </vertexType>
         <vertexType
               name="Medium">
            <color
                  blue="0"
                  green="140"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="component instance parameters"
                  type="java.util.Map">
            </parameter>
         </vertexType>
         <vertexType
               name="BusInterface">
            <color
                  blue="125"
                  green="125"
                  red="125">
            </color>
            <shape
                  type="circle">
            </shape>
            <size
                  height="20"
                  width="20">
            </size>
         </vertexType>
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.dftools.architecture.ui.ArchitectureCategory"
            name="Architecture">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.dftools.architecture.ui.ArchitectureCategory"
            class="org.ietr.dftools.architecture.ui.ArchitectureProjectWizard"
            hasPages="true"
            id="net.sf.dftools.architecture.ui.ArchitectureProjectWizard"
            name="Architecture Project"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.dftools.architecture.ui.ArchitectureCategory"
            class="org.ietr.dftools.architecture.ui.NewArchitectureWizard"
            hasPages="true"
            id="net.sf.dftools.architecture.ui.NewArchitectureWizard"
            name="Architecture Description (IP-XACT)"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ietr.dftools.graphiti.ui.editors.GraphEditor"
            contributorClass="org.ietr.dftools.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            id="net.sf.dftools.architecture.ui.editor"
            name="IP-XACT Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.sf.graphiti.ui.properties.contributor">
         <propertyTab
               category="net.sf.graphiti.ui.properties.category.vertex"
               id="net.sf.dftools.architecture.ui.properties.tab.vertex.parameters"
               label="Component instance parameters">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.sf.graphiti.ui.properties.contributor">
         <propertySection
               class="org.ietr.dftools.architecture.ui.properties.VertexParametersMapSection"
               filter="org.ietr.dftools.architecture.ui.properties.ArchitectureVertexFilter"
               id="net.sf.dftools.architecture.ui.properties.section.vertex.parameters"
               tab="net.sf.dftools.architecture.ui.properties.tab.vertex.parameters">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
