<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scenarios" name="%scenariosName" schema="schema/scenarios.exsd"/>
   <extension-point id="tasks" name="%tasksName" schema="schema/tasks.exsd"/>
   <extension-point id="loggers" name="%loggersName" schema="schema/loggers.exsd"/>
   <extension
         point="org.ietr.dftools.workflow.scenarios">
      <scenario
            id="TestScenario"
            type="net.sf.dftools.workflow.test.TestWorkflowScenario">
         <outputs>
            <output
                  id="algo"
                  object="java.lang.Integer">
            </output>
            <output
                  id="archi"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </scenario>
   </extension>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="TestNewWorkflow1"
            type="net.sf.dftools.workflow.test.TestWorkflowTask1">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="archture"
                  object="java.lang.Integer">
            </input>
         </inputs>
         <outputs>
            <output
                  id="superData"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </task>
      <task
            id="TestNewWorkflow2"
            type="net.sf.dftools.workflow.test.TestWorkflowTask2">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="superData"
                  object="java.lang.Integer">
            </input>
         </inputs>
      </task>
   </extension>

</plugin>
