<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scenarios" name="%scenariosName" schema="schema/scenarios.exsd"/>
   <extension-point id="tasks" name="%tasksName" schema="schema/tasks.exsd"/>
   <extension
         point="net.sf.dftools.workflow.scenarios">
      <scenario
            id="TestScenario"
            type="net.sf.dftools.workflow.test.TestWorkflowScenario">
         <outputs>
            <output
                  id="algo"
                  object="java.lang.Integer">
            </output>
            <output
                  id="archi"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </scenario>
   </extension>
   <extension
         point="net.sf.dftools.workflow.tasks">
      <task
            id="TestNewWorkflow1"
            type="net.sf.dftools.workflow.test.TestWorkflowTask1">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="archture"
                  object="java.lang.Integer">
            </input>
         </inputs>
         <outputs>
            <output
                  id="superData"
                  object="java.lang.Integer">
            </output>
         </outputs>
      </task>
      <task
            id="TestNewWorkflow2"
            type="net.sf.dftools.workflow.test.TestWorkflowTask2">
         <inputs>
            <input
                  id="algo"
                  object="java.lang.Integer">
            </input>
            <input
                  id="superData"
                  object="java.lang.Integer">
            </input>
         </inputs>
      </task>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.dftools.workflow.launch.ui.WorkflowLaunchConfigurationDelegate"
            id="net.sf.dftools.workflow.launchConfigurationType"
            modes="run"
            name="DFTools Workflow"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.dftools.workflow.launch.ui.WorkflowLaunchShortcut"
            icon="icons/workflow.png"
            id="net.sf.dftools.workflow.workflowLaunchShortcut"
            label="DFTools Workflow"
            modes="run,debug">
         <description
               description="Launch a DFTools workflow"
               mode="run">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <test
                              property="net.sf.dftools.isWorkflow">
                        </test></and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.dftools.workflow.launch.ui.WorkflowLaunchConfigurationTabGroup"
            id="net.sf.dftools.workflow.launchConfigurationTabGroup"
            type="net.sf.dftools.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.dftools.workflow.launchConfigurationType"
            icon="icons/workflow.png"
            id="net.sf.dftools.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.dftools.workflow.launch.ui.WorkflowPropertyTester"
            id="org.ietr.preesm.core.workflowTester"
            namespace="net.sf.dftools"
            properties="isWorkflow"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>

</plugin>
